body {
    margin: 0;/*ボーダー外余白*/
    font-family: "Hiragino Kaku Gothic ProN";/*フォント*/
    /*background-color: rgb(255, 191, 72);*/
}

a {
    text-decoration: none;/*テキスト傍線のスタイル*/
}

.header {
    height: 65px;
    width: 100%;
    background-color:rgba(34,49,52,0.9);
    position :fixed;/*位置固定*/
    top: 0;
    z-index: 10;/*描画順*/
  }

.header-right{
    float: right;
    /*margin-right: -25px;/*ボーダー外余白*/
}

.header-right a{
    line-height: 65px;/*行ボックスの高さ*/
    padding: 0px 25px 0px 25px;/*ボーダー内余白*/
    color: white;
    display: block;/*ブロック要素ボックス化、aの横並びが縦に？*/
    float: left;/*縦を横並びに戻す*/
    transition: all 0.5s;/*状態遷移の時間*/
}

/*カーソルが重なった時*/
.header-right a:hover{
    color: black;
    background-color: rgba(255,255,255,0.3);
}

/*.top-wrapper{
    /*width: 100%;
    min-height: 400px;
    object-fit: cover;
    max-width: 100%;
    border: 0;*/
    /*margin:0px auto;*/
    /*padding: 0px 0px 400px 0px;*/
    /*width: 50%;
    /*background-size:cover;/*背景自動調整*/
    /*text-align: center;*/
    /*background-image: url(image/top02.png);*/
/*}*/

.top-wrapper img{
    width: 100%;
}

.main{
    /*background-color: white;*/    
    /*padding: 0px 300px;*/
    /*background-size:cover;*/
    max-width:800px;
    /*max-width:700px;*/
    margin: 0px auto;
    /*margin: 0 auto;/*ボーダーの外側に余白なし*/
    /*max-width:728px;*/
}

.main img{
    border: 5px solid #808080;
}

h1{
    margin:30px 0px 0px 0px;
    border-bottom: 1px solid #333;/*線のスタイル*/
}


.footer{
    /*height: auto;*/
    /*margin:0px 100px;*/
    min-height:100px;
    /*max-height:400px;*/
    background-color: #333;
}

.footer a{
    font-size:30px;
    padding: 20px 25px 20px 25px;/*ボーダー内余白*/
    color: white;
    display: block;/*ブロック要素ボックス化、aの横並びが縦に？*/
    float: left;/*縦を横並びに戻す*/
}